* {
  box-sizing: border-box;
}

/* CURSOR and FONT */
body {
  cursor: url('../assets/cursor-image-2_1.png'), pointer;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  width: 95vw;
  margin: auto;

  background-image: url('../assets/wallpapers/wallpaper-brown.jpg');
  background-size: cover;
}

.desktop-icons>figure:hover {
  cursor: url('../assets/cursor-image-hover-2.png'), pointer;
}

button:hover {
  cursor: url('../assets/cursor-image-hover-2.png'), pointer;
}

.desktop-icons-content:hover {
  cursor: url('../assets/cursor-image-hover-2.png'), pointer;
}

/* ALIGNMENT MAIN */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  height: 100vh;  
}

#desktop-items-left {
  grid-column: 1;
  justify-self: start;
  /* horizontale alignment (inline) */
  align-self: center;
  /* verticale alignment (block) */
}

section:nth-child(1) {
  grid-column: 2;
  justify-self: center;
  /* horizontale alignment (inline) */
  align-self: center;
  /* verticale alignment (block) */
}

#desktop-items-right {
  grid-column: 3;
  justify-self: end;
  /* horizontale alignment (inline) */
  align-self: center;
  /* verticale alignment (block) */
}

/* ALIGNMENT DESKTOP ITEMS */
.desktop-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
}

/* ALIGNMENT DESKTOP FIGURES */
.desktop-icons>figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

/* RESIZING FIGURE IMAGES */
.desktop-icons>figure img {
  width: auto;
  height: 5em;
}

/* ALIGNMENT CLICKED DESKTOP ITEMS */
.desktop-icons-content {
  visibility: hidden;
}

/* CLICKED DESKTOP ITEMS ACTIVE */
#item1.active {
  visibility: visible;
}

#item2.active {
  visibility: visible;
}

#item3.active {
  visibility: visible;
}

#item4.active {
  visibility: visible;
}

#item5.active {
  visibility: visible;
}

#item6.active {
  visibility: visible;
}

/* STYLING OPENED WINDOW */
.opened-window {
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  border-color: #663C2D;
  box-shadow: 5px 5px #663C2D;
  width: 60vw;
  height: 31em;
  /* background-color: #F8F6E9; */
  background-color: rgb(248, 246, 233, .6);
  margin: auto;
}

/* ALIGNMENT and STYLING BUTTONS WINDOW BAR and BAR */
.window-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #663C2D;
}

.window-icons>li {
  list-style: none;
}

.window-icons {
  display: flex;
  flex-direction: row;
  gap: .7em;
}

.window-icons li>button {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border-style: none;
}

.button1 {
  background-color: #EAA594;
}

.button2 {
  background-color: #FCD8A0;
}

.button3 {
  background-color: #D2E7CC;
}

.window-bar>h2 {
  font-size: 1.5rem;
  margin-left: -7rem;
}

.window-main-content {
  padding: 0rem 3rem 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}

.window-main-content>img {
  width: 80em;
  height: 15em;
  object-fit: cover;
}

.title-info h1 {
  font-size: 3rem;
}

.title-info p {
  font-size: 1.2rem;
}

/* STYLING and ALIGNMENT WINDOW BUTTON */
.window-main-button {
  border-style: none;
  width: 8rem;
  height: 2rem;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: #FFE3F3;
  box-shadow: 5px 5px #FF8282;
  /* border-radius: 16px; */
  margin-right: 4rem;
  float: right;
}

/* STYLING and ALIGNMENT DESKTOP ITEMS */
.desktop-icons-items {
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  border-color: #663C2D;
  background-color: rgb(248, 246, 233, .9);
  width: 22rem;
  height: 22rem;
}

.desktop-icons-items>h3 {
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #663C2D;
  text-align: center;
}

.desktop-icons-items>img {
  width: 20rem;
  height: 17rem;
  object-fit: cover;
  margin: auto;
  display: block;
}

.desktop-icons-items:nth-child(1) {
  position: absolute;
  top: 2rem;
  left: 16rem;
  z-index: 10;
}

.desktop-icons-items:nth-child(2) {
  position: absolute;
  top: 6rem;
  left: 30rem;
  z-index: 20;
}

.desktop-icons-items:nth-child(3) {
  position: absolute;
  top: 20rem;
  left: 18rem;
  z-index: 30;
}

.desktop-icons-items:nth-child(4) {
  position: absolute;
  top: 1rem;
  left: 50rem;
  z-index: 40;
}

.desktop-icons-items:nth-child(5) {
  position: absolute;
  top: 12rem;
  left: 45rem;
  z-index: 50;
}

.desktop-icons-items:nth-child(6) {
  position: absolute;
  top: 24rem;
  left: 35rem;
  z-index: 60;
}

/* OPENED WINDOW STYLING when BUTTON CLICKED */
.opened-window.activeRed {
  background-color: #FF828240;
}

.opened-window.activeOrange {
  background-color: #FCD8A040;
}

.opened-window.activeGreen {
  background-color: #D2E7CC40;
}

/* ==== ANIMATIONS ==== */

/* BUTTON HOVER  */
.window-main-button:hover {
  background-color: #00A9E3;
  box-shadow: 5px 5px #B7E1F0;
  scale: 1.5;
  transition: .3s;
  animation: rubberBand 1s 1;
}

/* OPENED WINDOW */
#opened-window {
  animation: tada 1s 3;
}

/* DESKTOP ITEMS */
#figure1.clicked {
  animation: tada 1s 2;
}

#figure2.clicked {
  animation: tada 1s 2;
}

#figure3.clicked {
  animation: tada 1s 2;
}

#figure4.clicked {
  animation: tada 1s 2;
}

#figure5.clicked {
  animation: tada 1s 2;
}

#figure6.clicked {
  animation: tada 1s 2;
}
/* DESKTOP ITEMS */
#figure1.active {
  animation: jello 2s 1;
}

#figure2.active {
  animation: jello 2s 1;
}

#figure3.active {
  animation: jello 2s 1;
}

#figure4.active {
  animation: jello 2s 1;
}

#figure5.active {
  animation: jello 2s 1;
}

#figure6.active {
  animation: jello 2s 1;
}

/* DESKTOP ITEMS CONTENT */
#item1.clicked {
  animation: tada 1s 1;
}

#item2.clicked {
  animation: tada 1s 1;
}

#item3.clicked {
  animation: tada 1s 1;
}

#item4.clicked {
  animation: tada 1s 1;
}

#item5.clicked {
  animation: tada 1s 1;
}

#item6.clicked {
  animation: tada 1s 1;
}

/* DESKTOP ITEMS HOVER */
#figure1:hover {
  animation: bounce 1.5s infinite;
}

#figure2:hover {
  animation: bounce 1.5s infinite;
}

#figure3:hover {
  animation: bounce 1.5s infinite;
}

#figure4:hover {
  animation: bounce 1.5s infinite;
}

#figure5:hover {
  animation: bounce 1.5s infinite;
}

#figure6:hover {
  animation: bounce 1.5s infinite;
}

/* ==== KEYFRAMES ==== */

/* bron: https://codepen.io/sahil_ranpuri/pen/YmJpVJ */
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* bron: https://codepen.io/chronisp/pen/WqGxdW */
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* bron: https://codepen.io/procodeing/pen/MwYZbQ */
@keyframes jello {
  11.1% {
    transform: none
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }

  100% {
    transform: none
  }
}

/* Bron: https://codepen.io/nelledejones/pen/gOOPWrK */
@keyframes bounce {
  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }
}


/* MEDIA QUERIES */
@media (max-width: 480px) {

  body {
    font-size: 12px;
    width: 80vw;
    background-image: url(../assets/wallpapers/wallpaper-green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
  }

  .desktop-icons {
    display: none;
  }

  .desktop-icons-content {
    visibility: visible;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "opened-window"
      "mijn-hond"
      "sushi"
      "crochet"
      "coderen"
      "films-kijken"
      "vulpen";
  }

  .opened-window {
    grid-area: opened-window;
    position: relative;
  }

  #item1 {
    grid-area: mijn-hond;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item1>img {
    width: 15rem;
    height: 14rem;
  }

  #item2 {
    grid-area: sushi;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item2>img {
    width: 15rem;
    height: 14rem;
  }

  #item3 {
    grid-area: crochet;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item3>img {
    width: 15rem;
    height: 14rem;
  }

  #item4 {
    grid-area: coderen;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item4>img {
    width: 15rem;
    height: 14rem;
  }

  #item5 {
    grid-area: films-kijken;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item5>img {
    width: 15rem;
    height: 14rem;
  }

  #item6 {
    grid-area: vulpen;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item6>img {
    width: 15rem;
    height: 14rem;
  }

  .opened-window {
    width: 18rem;
    height: 48rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .window-bar>h2 {
    font-size: .8rem;
    margin-left: -1rem;
  }

  .window-main-content {
    padding: 0rem 1rem 0rem 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "h1"
      "p"
      "img"
      "button";
  }

  .title-info h1 {
    grid-area: h1;
  }

  .window-main-content>img {
    grid-area: img;
    width: 15rem;
    height: 14rem;
    margin: auto;
    margin-top: -23rem;
  }

  .title-info p {
    grid-area: p;
    margin-top: -1rem;
  }

  .window-main-button {
    grid-area: button;
    margin-top: -50rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 12px;
    width: 80vw;
    background-image: url(../assets/wallpapers/wallpaper-green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
  }

  .desktop-icons {
    display: none;
  }

  .desktop-icons-content {
    visibility: visible;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "opened-window"
      "mijn-hond"
      "sushi"
      "crochet"
      "coderen"
      "films-kijken"
      "vulpen";
  }

  .opened-window {
    grid-area: opened-window;
    position: relative;
  }

  #item1 {
    grid-area: mijn-hond;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item1>img {
    width: 15rem;
    height: 14rem;
  }

  #item2 {
    grid-area: sushi;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item2>img {
    width: 15rem;
    height: 14rem;
  }

  #item3 {
    grid-area: crochet;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item3>img {
    width: 15rem;
    height: 14rem;
  }

  #item4 {
    grid-area: coderen;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item4>img {
    width: 15rem;
    height: 14rem;
  }

  #item5 {
    grid-area: films-kijken;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item5>img {
    width: 15rem;
    height: 14rem;
  }

  #item6 {
    grid-area: vulpen;
    position: relative;
    top: initial;
    left: initial;
    width: 18rem;
    height: 18rem;
    margin: auto;
    margin-bottom: 2rem;
  }

  #item6>img {
    width: 15rem;
    height: 14rem;
  }

  .opened-window {
    width: 18rem;
    height: 48rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .window-bar>h2 {
    font-size: .8rem;
    margin-left: -1rem;
  }

  .window-main-content {
    padding: 0rem 1rem 0rem 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "h1"
      "p"
      "img"
      "button";
  }

  .title-info h1 {
    grid-area: h1;
  }

  .window-main-content>img {
    grid-area: img;
    width: 15rem;
    height: 14rem;
    margin: auto;
    margin-top: -23rem;
  }

  .title-info p {
    grid-area: p;
    margin-top: -1rem;
  }

  .window-main-button {
    grid-area: button;
    margin-top: -50rem;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  body {
    background-size: cover 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    font-size: 12px;
  }

  .opened-window {
    width: 60vw;
    height: 75vh;
  }

  .window-main-content {
    margin-top: -.5rem;
  }

  .title-info p {
    margin-top: -1.5rem;
  }

  .window-main-button {
    margin-top: -2rem;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body {
    background-size: cover 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    font-size: 12px;
  }

  .opened-window {
    width: 60vw;
    height: 70vh;
  }

  .window-main-content {
    margin-top: -.5rem;
  }

  .title-info p {
    margin-top: -1.5rem;
  }

  .window-main-button {
    margin-top: -2rem;
  }
}